/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --main-color: #0072c3;
  --main-color-hover: #00539a;
  --main-color-active: #003a6d;

  /* Footer links */
  --footer-link-color: #33B1FF;
  --footer-link-color-hover: #82CFFF;
  --footer-link-color-active: #BAE6FF;

  /* Background */
  --background-color: #fff;
  --background-color-hover: #f8f2f2;
  --background-color-active: #f2eaea;
  --background-color-body: #c6c6c629;
  --light-color: #e5f6ff;
  --dark-color: #ccc;
  --header-color: #FFFC;
  --footer-color: #161616;

  /* Text */
  --text-color-dark: #262626;
  --text-color-light: #fff;

  /* Hero */
  --hero-background: #3333331a;

  /* fonts */
  --body-font-family: ibmplexsans, arial;
  --heading1-strong-tag: ibmplexserif, arial;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* effects */
  --drop-shadow-box: 0px 0px 16px 4px #c6c6c63d;
  --drop-shadow-text: 1px 1px 4px rgba(0 0 0 / 25%);
  --border-radius-small: 6px;
  --border-radius: 8px;
  --border-radius-large: 16px;

  /* body sizes */
  --body-font-size-large: 1.25rem;
  --body-font-size-base: 1rem;
  --body-font-size-small: 0.9rem;

  /* heading sizes */
  --heading-font-size-xxl: 2.75rem;
  --heading-font-size-xl: 2.5rem;
  --heading-font-size-l: 2.25rem;
  --heading-font-size-m: 2rem;
  --heading-font-size-s: 1.75rem;
  --heading-font-size-xs: 1.5rem;

  /* line heights */
  --body-line-height-large: 1.8rem;
  --body-line-height-base: 1.5rem;
  --body-line-height-small: 1.3rem;
  --heading-line-height-xxl: 3rem;
  --heading-line-height-xl: 2.75rem;
  --heading-line-height-l: 2.5rem;
  --heading-line-height-m: 2.25rem;
  --heading-line-height-s: 2rem;
  --heading-line-height-xs: 1.75rem;

  /* spacing */
  --spacing-section-y: 2rem;
  --spacing-section-x: 1.5rem;
  --spacing-button-y: 0.75rem;
  --spacing-button-x: 1.5rem;
  --spacing-hero-left: unset;
  --spacing-hero-right: unset;
  --spacing-image-text-left: 6.13rem;
  --spacing-section-headings: 2.5rem;
  --spacing-xxl: 4rem;
  --spacing-xl: 2.5rem;
  --spacing-l: 2rem;
  --spacing-m: 1.5rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.37rem;
  --spacing-xxxs: 0.25rem;

  /* width and height */
  --nav-height: 80px;
  --hero-height: 550px;
  --summary-height: 408px;
  --image-text-max-height: 900px;
  --image-text-image-max-height: 600px;
  --header-max-width: 1664px;
  --tabs-max-width: 1664px;
  --image-text-max-width: 1634px;
  --image-text-content-max-width: 368px;
  --container-max-width: 1536px;

  /* Elsie base design */
  --color-brand-300: #6d6d6d;
  --color-brand-500: #454545;
  --color-brand-600: #383838;
  --color-brand-700: #2b2b2b;
  --color-neutral-50: #fff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #e8e8e8;
  --color-neutral-400: #d6d6d6;
  --color-neutral-500: #b8b8b8;
  --color-neutral-600: #8f8f8f;
  --color-neutral-700: #666;
  --color-neutral-800: #3d3d3d;
  --color-neutral-900: #292929;
  --color-positive-200: #eff5ef;
  --color-positive-500: #7fb078;
  --color-positive-800: #53824c;
  --color-informational-200: #eeeffb;
  --color-informational-500: #6978d9;
  --color-informational-800: #5d6dd6;
  --color-warning-200: #fdf3e9;
  --color-warning-500: #e79f5c;
  --color-warning-800: #cc7a2e;
  --color-alert-200: #ffebeb;
  --color-alert-500: #db7070;
  --color-alert-800: #c35050;
  --color-button-active: var(--color-brand-700);
  --color-button-focus: var(--color-neutral-400);
  --color-button-hover: var(--color-brand-600);
  --color-action-button-active: var(--color-neutral-50);
  --color-action-button-hover: var(--color-neutral-300);
  --color-opacity-16: rgb(255 255 255 / 16%);
  --color-opacity-24: rgb(255 255 255 / 24%);
  --grid-1-columns: 4;
  --grid-1-margins: 0;
  --grid-1-gutters: 16px;
  --grid-2-columns: 12;
  --grid-2-margins: 0;
  --grid-2-gutters: 16px;
  --grid-3-columns: 12;
  --grid-3-margins: 0;
  --grid-3-gutters: 24px;
  --grid-4-columns: 12;
  --grid-4-margins: 0;
  --grid-4-gutters: 24px;
  --grid-5-columns: 12;
  --grid-5-margins: 0;
  --grid-5-gutters: 24px;
  --shape-border-radius-1: 3px;
  --shape-border-radius-2: 8px;
  --shape-border-radius-3: 24px;
  --shape-border-width-1: 1px;
  --shape-border-width-2: 1.5px;
  --shape-border-width-3: 2px;
  --shape-border-width-4: 4px;
  --shape-shadow-1: 0 0 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-2: 0 2px 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-3: 0 2px 3px 0 rgb(0 0 0 / 16%);
  --shape-icon-stroke-1: 1px;
  --shape-icon-stroke-2: 1.5px;
  --shape-icon-stroke-3: 2px;
  --shape-icon-stroke-4: 4px;
  --spacing-xxsmall: 4px;
  --spacing-xsmall: 8px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-big: 32px;
  --spacing-xbig: 40px;
  --spacing-xxbig: 48px;
  --spacing-large: 64px;
  --spacing-xlarge: 72px;
  --spacing-xxlarge: 96px;
  --spacing-huge: 120px;
  --spacing-xhuge: 144px;
  --spacing-xxhuge: 192px;
  --type-base-font-family: roboto, roboto-fallback;
  --type-display-1-font: normal normal 300 6.0rem/7.2rem var(--type-base-font-family);
  --type-display-1-letter-spacing: 0.04em;
  --type-display-2-font: normal normal 300 4.8rem/5.6rem var(--type-base-font-family);
  --type-display-2-letter-spacing: 0.04em;
  --type-display-3-font: normal normal 300 3.4rem/4.0rem var(--type-base-font-family);
  --type-display-3-letter-spacing: 0.04em;
  --type-headline-1-font: normal normal 400 2.4rem/3.2rem var(--type-base-font-family);
  --type-headline-1-letter-spacing: 0.04em;
  --type-headline-2-default-font: normal normal 300 2.0rem/2.4rem var(--type-base-font-family);
  --type-headline-2-default-letter-spacing: 0.04em;
  --type-headline-2-strong-font: normal normal 400 2.0rem/2.4rem var(--type-base-font-family);
  --type-headline-2-strong-letter-spacing: 0.04em;
  --type-body-1-default-font: normal normal 300 1.6rem/2.4rem var(--type-base-font-family);
  --type-body-1-default-letter-spacing: 0.04em;
  --type-body-1-strong-font: normal normal 400 1.6rem/2.4rem var(--type-base-font-family);
  --type-body-1-strong-letter-spacing: 0.04em;
  --type-body-1-emphasized-font: normal normal 700 1.6rem/2.4rem var(--type-base-font-family);
  --type-body-1-emphasized-letter-spacing: 0.04em;
  --type-body-2-default-font: normal normal 300 1.4rem/2.0rem var(--type-base-font-family);
  --type-body-2-default-letter-spacing: 0.04em;
  --type-body-2-strong-font: normal normal 400 1.4rem/2.0rem var(--type-base-font-family);
  --type-body-2-strong-letter-spacing: 0.04em;
  --type-body-2-emphasized-font: normal normal 700 1.4rem/2.0rem var(--type-base-font-family);
  --type-body-2-emphasized-letter-spacing: 0.04em;
  --type-button-1-font: normal normal 400 2.0rem/2.6rem var(--type-base-font-family);
  --type-button-1-letter-spacing: 0.08em;
  --type-button-2-font: normal normal 400 1.6rem/2.4rem var(--type-base-font-family);
  --type-button-2-letter-spacing: 0.08em;
  --type-details-caption-1-font: normal normal 400 1.2rem/1.6rem var(--type-base-font-family);
  --type-details-caption-1-letter-spacing: 0.08em;
  --type-details-caption-2-font: normal normal 300 1.2rem/1.6rem var(--type-base-font-family);
  --type-details-caption-2-letter-spacing: 0.08em;
  --type-details-overline-font: normal normal 400 1.2rem/2.0rem var(--type-base-font-family);
  --type-details-overline-letter-spacing: 0.16em;

  /* Additional tokens */
  --type-fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
}

@font-face {
  font-display: optional;
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --body-font-size-large: 1.5rem;
    --heading-font-size-xxl: 4.5rem;
    --heading-font-size-xl: 4rem;
    --heading-font-size-l: 3.5rem;
    --heading-font-size-m: 3rem;
    --heading-font-size-s: 2.5rem;
    --heading-font-size-xs: 2rem;
    --body-line-height-large: 2.25rem;
    --heading-line-height-xxl: 5rem;
    --heading-line-height-xl: 4.5rem;
    --heading-line-height-l: 4rem;
    --heading-line-height-m: 3.5rem;
    --heading-line-height-s: 3rem;
    --heading-line-height-xs: 2.5rem;
    --spacing-section-y: 6rem;
    --spacing-section-x: 4rem;
    --spacing-section-headings: 3.5rem;
  }
}

body {
  font-size: var(--body-font-size-base);
  line-height: var(--body-line-height-base);
  margin: 0;
  font-weight: 300;
  font-family: var(--body-font-family);
  color: var(--text-color-dark);
  background-color: var(--background-color-body);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  margin: var(--spacing-m) 0;
  font-weight: 300;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: var(--heading-line-height-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-line-height-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: var(--heading-line-height-l);
}

h4 {
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-line-height-m);
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-line-height-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-line-height-xs);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-base);
}

strong {
  font-weight: 600;
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--main-color);
  text-decoration: underline;
}

a:hover {
  color: var(--main-color-hover);
}

a:active {
  color: var(--main-color-active);
}

/* buttons */
a.button:any-link,
button {
  display: inline-block;
  box-shadow: var(--drop-shadow-box);
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: var(--spacing-button-y) var(--spacing-button-x);
  text-align: center;
  font-size: var(--body-font-size-base);
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color-light);
  background-color: var(--main-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--main-color-hover);
  cursor: pointer;
}

a.button:active,
button:active {
  background-color: var(--main-color-active);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: var(--background-color);
  border: 2px solid currentcolor;
  color: var(--main-color);
}

a.button.secondary:hover,
a.button.secondary:focus,
button.secondary:hover,
button.secondary:focus {
  background-color: var(--background-color-hover);
}

a.button.secondary:active,
button.secondary:active {
  background-color: var(--background-color-active);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a.button-icon,
button.button-icon {
  all: unset;
  border-radius: var(--border-radius);
}

.icon,
.icon svg {
  display: inline-block;
  width: 24px;
}

.icon-span {
  display: flex;
  align-items: center;
}

.icon img {
  height: 100%;
  width: 100%;
}

p.button-container > a.button,
div.button-container > a.button,
strong.button-container > a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* sections */
main .section {
  padding: var(--spacing-section-y) var(--spacing-section-x);
}

main .section > div > h2,
main .section > div > h3,
main .section > div > h4,
main .section > div > h5,
main .section > div > h6 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-section-headings);
  gap: 24px;
}

main .section > div > h2::before,
main .section > div > h3::before,
main .section > div > h4::before,
main .section > div > h5::before,
main .section > div > h6::before {
  content: '';
  display: inline-block;
  width: 60px;
  margin-left: calc(-1 * var(--spacing-section-x));
  border: 1px solid var(--main-color);
}

main .section.full-width {
  padding: 0;
}

@media (width >= 600px) {
  main .section.full-width {
    padding: 0;
  }
}

@media (width >= 900px) {
  body {
    font-size: var(--body-font-size-large);
    line-height: var(--body-line-height-large);
  }

  .section > div {
    max-width: var(--container-max-width);
    margin: auto;
  }

  .section.full-width > div {
    max-width: unset;
  }

  main .section > div > h2::before,
  main .section > div > h3::before,
  main .section > div > h4::before,
  main .section > div > h5::before,
  main .section > div > h6::before {
    width: 236px;
  }

  .icon,
  .icon svg {
    width: 40px;
  }
}

@media (width >= 1200px) {
  main .section > .default-content-wrapper > p {
    width: 62%;
  }
}

/* section metadata */
main .section.light {
  background-color: var(--background-color);
}

main .section.highlight {
  background-color: var(--color-neutral-500);
}
